@import url(https://fonts.googleapis.com/css?family=Merriweather%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CMontserrat%3A400%2C700%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext);
html, body {
  font-size: 16px;
}

html {
  background-color: #ccc;
}

body {
  margin: 21px;
  background-color: #fff;
  min-height: 100%;
  padding: 0 3rem;
}

header, .intro, .cognito {
  max-width: 1070px;
  margin: 0 auto;
}

header h1 {
  display: inline-block;
}

header h1 a {
  text-indent: -1000em;
  overflow: hidden;
  display: block;
  height: 150px;
  width: 150px;
  background-image: url(logo.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

header nav {
  margin-top: 0;
}

header nav li {
  display: inline-block;
  list-style-type: none;
}

header nav li a {
  color: #1a1a1a;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding: .65625em .875em;
}

header nav li a:hover {
  color: #007acc;
}

@media only screen and (min-width: 500px) {
  header nav {
    margin: 60px 0;
    float: right;
  }
}

@media only screen and (max-width: 499px) {
  header {
    text-align: center;
  }
  header h1 {
    margin-bottom: 0;
  }
  header nav ul {
    padding-left: 0;
    margin-bottom: 3rem;
  }
}

.intro h2 {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 2.0625rem;
}

p, li {
  color: #1a1a1a;
  font-family: Merriweather, Georgia, serif;
  font-size: 1rem;
}

p a, li a {
  color: #007acc;
  text-decoration: underline;
}

p a:hover, li a:hover {
  color: #aaa;
  text-decoration: none;
}

.cognito {
  padding: 0;
  min-height: 800px;
}

.c-forms-form-title {
  padding-top: 0 !important;
  padding-bottom: 1rem !important;
}

.c-forms-form-title h2 {
  display: none;
}

.c-forms-form-title .c-forms-description {
  font-family: Merriweather, Georgia, serif !important;
  font-size: 1rem !important;
  padding: 0 !important;
}

@media only screen and (min-width: 500px) {
  .c-page-page1 .c-field + .c-field .c-editor.c-html {
    margin-left: 2rem;
    position: absolute !important;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
    opacity: 0;
  }
  .c-page-page1 .c-field:focus-within + .c-field .c-editor.c-html {
    opacity: 1;
  }
}

.c-page-page1 .c-field + .c-field .c-editor.c-html {
  padding: 1.5rem 2em 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #faf0b7;
  background-color: #fefbec;
  font-family: Merriweather, Georgia, serif !important;
  font-size: 1rem !important;
}

.cognito .c-field[data-field="Pitch"] .c-editor textarea {
  height: 200px;
}

.c-forms-progress {
  padding-bottom: 1rem !important;
  padding-top: 0 !important;
}

.c-forms-progress li a {
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
}

.c-forms-progress li a span {
  color: #1a1a1a !important;
}

.c-forms-progress li:not(.c-page-selected) a:before {
  background-color: #eee !important;
  color: #aaa !important;
}

.c-forms-progress li:not(.c-page-selected) a span {
  color: #aaa !important;
}

.cognito .c-label {
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
}

textarea, input {
  font-family: Merriweather, Georgia, serif !important;
  font-size: 1rem !important;
}

.c-action button {
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
  font-size: 1rem !important;
}

p, input, textarea, h1, h2, h3, .c-label, .c-forms-description {
  color: #1a1a1a !important;
}
/*# sourceMappingURL=style.css.map */